body{
margin:0;
font-family:'Cairo',sans-serif;
color:white;
overflow:hidden;
background:black;
}

/* الخلفية */
.bg{
position:fixed;
width:100%;
height:100%;
background:url("assets/bg.jpg") center/cover no-repeat;
filter:brightness(.35);
z-index:-1;
}

/* اسم المسجد */
.mosque-name{
text-align:center;
font-size:48px;
color:#FFD700;
margin-top:20px;
}

/* الذكر */
.zekr-box{
position:absolute;
left:60px;
top:150px;
background:rgba(0,0,0,.6);
padding:30px;
font-size:42px;
border-radius:15px;
}

/* لوحة الوقت */
.time-panel{
position:absolute;
right:60px;
top:120px;
text-align:right;
}

.digital-time{
font-size:70px;
color:#FFD700;
}

.date-box{
margin-top:10px;
background:rgba(0,0,0,.7);
padding:12px 20px;
border-radius:10px;
font-size:22px;
}

/* شريط الصلوات */
.prayer-bar{
position:absolute;
bottom:120px;
width:100%;
display:flex;
justify-content:center;
gap:25px;
}

.prayer{
background:rgba(0,0,0,.8);
padding:20px 30px;
border-radius:15px;
text-align:center;
font-size:24px;
}

.prayer span{
display:block;
margin-top:10px;
font-size:26px;
}

/* الصلاة الحالية */
.active{
border:3px solid #FFD700;
box-shadow:0 0 25px #FFD700;
}

/* الإقامة */
.iqama{
position:absolute;
right:60px;
bottom:40px;
background:#FFD700;
color:black;
padding:15px 30px;
border-radius:12px;
font-size:28px;
}
