body{
    margin:0;
    background:black;
    color:white;
    font-family:'Cairo',sans-serif;
    overflow:hidden;
}

/* العنوان */
.title{
    text-align:center;
    color:#ffd700;
    font-size:42px;
    margin-top:20px;
    font-weight:bold;
}

/* الذكر */
.zekr{
    position:absolute;
    left:60px;
    top:120px;
    font-size:38px;
}

/* الساعة */
.clockBox{
    position:absolute;
    right:60px;
    top:120px;
    text-align:right;
}

#clock{
    color:#ffd700;
    font-size:64px;
}

#date{
    margin-top:10px;
    font-size:22px;
}

#hijriDate{
    margin-top:5px;
    font-size:20px;
    color:#ffd700;
}

/* الصلوات */
.prayers{
    position:absolute;
    bottom:120px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:60px;
}

.prayer{
    text-align:center;
    font-size:22px;
}

.prayer span{
    display:block;
    margin-top:10px;
    font-size:24px;
}

/* الصلاة الحالية */
.active{
    border:3px solid #ffd700;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px #ffd700;
}

/* الإقامة */
.iqama{
    position:absolute;
    bottom:40px;
    right:60px;
    background:#ffd700;
    color:black;
    padding:15px 25px;
    border-radius:10px;
    font-size:24px;
}
